@forward './reset';
@forward './variable';
@forward './theme';

// 滚动条外观设置
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #cbd5e1;
  border-radius: 8px;
}
