@forward './reset';
@forward './variable';

// 滚动条外观设置
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #364f6b;
  border-radius: 10px;
}
