$color: rgb(174, 0, 255);

// 左侧菜单宽度
$base-menu-width: 260px;

// 左侧菜单的背景颜色
$base-menu-bg-color: #005bea;

// 顶部导航的高度
$base-tabbar-height: 50px;

// 折叠后的菜单栏宽度
$base-menu-min-width: 65px;

// 左侧菜单logo高度设置
$base-menu-logo-height: 60px;

// 左侧菜单logo右侧文字大小
$base-menu-logo-text-size: 20px;
